.index__splash {
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index__headline {
  margin: 0;
  text-align: center;
}

.index__headline.m-small {
  font-size: 2.4rem;
  line-height: 1.35;
}

.index__text {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.index__welcome {
  margin-bottom: 1.5em;
}

.index__ticketButtonContainer {
  text-align: center;
  margin-bottom: 2.5rem;
}

.index__ticketButtonContainer .index__ticketButton {
  padding: 0.5rem 2rem;
  font-size: 16px;
  height: auto;
}

.index__moreInfo {
  margin-bottom: 2em;
}

.index__newsletter {
  display: flex;
  justify-content: center;
}

.index__hiddenInputContainer {
  position: absolute;
  left: -5000px;
}

@media (max-width: 650px) {
  .index__headlineDelimiter {
    display: block;
    height: 0px;
    visibility: hidden;
    width: 0px;
  }
}

@media (min-width: 550px) {
  .index__headline.m-small {
    font-size: 3rem;
  }
}
