.sponsors__list {
  margin-bottom: 30px;
}

.sponsors__ableton {
  width: 300px;
}

.sponsors__mozilla {
  width: 200px;
}

.sponsors__novation {
  width: 400px;
}

@media (max-width: 480px) {
  .sponsors {
    text-align: center;
  }

  .sponsors__novation {
    width: 100%;
  }
}
