body, html {
  color: #333333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

.header__logo {
  height: 70px;
}

.header__navigationTrigger {
  display: none;
  width: 50px;
  padding: 0;
  border-radius: 25px;
}

.header__navigation {
  list-style-type: none;
  display: flex;
  margin-top: 0.4em;
  margin-bottom: 0;
}

.header__navigationItem:not(:last-child) {
  margin-right: 1.5em;
}

.header__navigationLink {
  text-decoration: none;
  color: #333333;
  padding: 0.2em;
  border-bottom: 2px solid transparent;
  transition: border-bottom .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__navigationLink:hover,
.header__navigationLink.m-active {
  color: #333333;
  border-bottom-color: #1EAEDB;
}

.header__navigationLink:first-child,
.header__navigationLink:last-child {
  padding-left: 0;
}

.img-responsive {
  width: 100%;
}

.img-rounded {
  border-radius: 50%;
  border: 2px solid #1EAEDB;
}

@media (max-width : 480px) {
  .header__navigationTrigger {
    display: block;
  }
  .header__navigation.m-hidden {
    display: none;
  }
  .header__navigation.m-visible {
    display: flex;
  }
  .header__navigation {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    flex-direction: column;
    margin: 0;
    padding: 2em;
    align-items: center;
  }
  .header__navigationItem,
  .header__navigationItem:not(:last-child) {
    margin: 0.5em 0;
    font-size: 1.5em;
  }
}
