.header {
  display: flex;
  padding: 1em 0;
}

.header__title {
  margin-right: 5em;
  font-size: 1.5em;
  flex-grow: 1;
}

.header__navigation {
  list-style-type: none;
  display: flex;
  margin-top: 0.4em;
  margin-bottom: 0;
}

.header__navigationItem:not(:last-child) {
  margin-right: 1.5em;
}

.header__navigationLink {
  text-decoration: none;
  color: #000000;
  padding: 0.2em;
  border-bottom: 2px solid transparent;
  transition: border-bottom .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__navigationLink:hover,
.header__navigationLink.m-active {
  color: #000000;
  border-bottom-color: #1EAEDB;
}

.header__navigationLink:first-child,
.header__navigationLink:last-child {
  padding-left: 0;
}

.header__splash {
  padding: 5em 0;
  margin-bottom: 1.45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__headline {
  margin: 0;
}